export(archetypes)
export(archetypesFamily)
export(as.archetypes)
export(bestModel)
export(jd)
export(moviepcplot)
export(movieplot)
export(movieplot2)
export(new.memento)
export(nparameters)
export(panorama)
export(pcplot)
export(robustArchetypes)
export(rss)
export(skeletonplot)
export(stepArchetypes)
export(weightedArchetypes)
export(xyplot)
exportMethods(parameters)
exportMethods(profile)
importFrom(modeltools,parameters)
importFrom(stats,coef)
importFrom(stats,fitted)
importFrom(stats,profile)
importFrom(stats,residuals)
importFrom(stats,screeplot)
importFrom(stats,weights)
S3method("[",stepArchetypes)
S3method(barplot,atypes_parameters)
S3method(barplot,atypes_profile)
S3method(bestModel,stepArchetypes)
S3method(coef,archetypes)
S3method(fitted,archetypes)
S3method(kappa,archetypes)
S3method(nparameters,archetypes)
S3method(nparameters,stepArchetypes)
S3method(panorama,archetypes)
S3method(pcplot,archetypes)
S3method(pcplot,default)
S3method(plot,atypes_profile)
S3method(plot,stepArchetypes)
S3method(plot,stepArchetypes_parameters)
S3method(plot,stepArchetypes_profile)
S3method(print,archetypes)
S3method(print,stepArchetypes)
S3method(residuals,archetypes)
S3method(rss,archetypes)
S3method(rss,stepArchetypes)
S3method(screeplot,stepArchetypes)
S3method(weights,archetypes)
S3method(xyplot,archetypes)
S3method(xyplot,atypes_panorama)
S3method(xyplot,robustArchetypes)
S3method(xyplot,stepArchetypes)
S3method(xyplot,weightedArchetypes)
